@model MVeterinaria.Models.Mascota

@{
    ViewBag.Title = "Eliminar";
}


<h3>Seguro que quiere eliminar esta mascota?</h3>
<div>
    <h4>Mascota</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Raza.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raza.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
