@model IEnumerable<MVeterinaria.Models.Cita>

@{
    ViewBag.Title = "CitasVet";
}

<h2>CitasVet</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EstadoCita.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mascota.Nombre)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.FechaEmision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCita)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoCita.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mascota.Nombre)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.FechaEmision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCita)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CitaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CitaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CitaId })
        </td>
    </tr>
}

</table>
