@model MVeterinaria.Models.Boleta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Boleta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mascota.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mascota.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Veterinario.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Veterinario.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaEmision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaEmision)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BoletaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
