<style>
    #slidebar {
        background-color: #0026ff;
        color: white;
    }

    .color {
        color: white;
    }
    .margen{
        margin-top: 50px;
    }
</style>
<section class="sidebar" id="slidebar">
    <ul class="sidebar-menu">

        <li>
            <a class="color" href="@(Url.Action("Index","Home"))">
                <i class="fa fa-home color fa-lg   "> </i> <span style="font-size:1.5em " class=" color">      Inicio</span>
            </a>
        </li>
        @* Clientes *@
        <li class="treeview margen">
            <a href="#">
                <i class=" color fa fa-user fa-lg "></i>
                <span class="color" style="font-size:1.5em ">      Clientes</span>
            </a>
            <ul class="treeview-menu margen">
                <li><a href="@(Url.Action("create","Clientes"))"><i class="color fa fa-user-plus-o"></i>Nuevo</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="@(Url.Action("Index","Clientes"))"><i class="color fa fa-clipboard-list"></i>Listado</a></li>
            </ul>

        </li>
        @* Mascotas *@
        <li class="treeview margen">
            <a href="#">
                <i class=" color fa fa-paw fa-lg "></i>
                <span class="color" style="font-size:1.5em ">      Mascotas</span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@(Url.Action("create","Mascotas"))"><i class="color fa fa-plus"></i>Nuevo</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="@(Url.Action("Index","Mascotas"))"><i class="color fa fa-paw"></i>Listado</a></li>
            </ul>

        </li>
        @* Veterinario *@
        <li class="treeview margen">
            <a href="#">
                <i class=" color fa fa-user-md fa-lg"></i>
                <span class="color" style="font-size:1.5em ">      Veterinarios</span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@(Url.Action("create","Veterinarios"))"><i class="color fa fa-user-md"></i>Nuevo</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="@(Url.Action("Index","Veterinarios"))"><i class="color fa fa-clipboard-list"></i>Listado</a></li>
            </ul>

        </li>
        @* Citas *@
        <li class="treeview margen">
            <a href="#">
                <i class=" color fa fa-calendar fa-lg"></i>
                <span class="color" style="font-size:1.5em ">      Citas</span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@(Url.Action("create","Citas"))"><i class="color fa fa-notes-medical"></i>Nueva Cita</a></li>
            </ul>
            
            <ul class="treeview-menu">
                <li><a href="@(Url.Action("Index","Citas"))"><i class="color fa fa-calendar-plus-o"></i>Listado</a></li>
            </ul>

        </li>

        @if (User.IsInRole("Role"))
        {

        }


    </ul>
</section>
@*
     <li>
        <a href="@(Url.Action("","",new{ Area = ""}))">
            <i class="fa fa-th fa-fw"></i> <span>Widgets</span>
        </a>
    </li>

    <li>
        <a href="@(Url.Action("","",new{ Area = ""}))">
            <i class="fa fa-th fa-fw"></i> <span>Widgets</span>
            <span class="pull-right-container">
                <small class="label pull-right bg-green">new</small>
            </span>
        </a>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-files-o fa-fw"></i>
            <span>Layout Options</span>
        </a>
        <ul class="treeview-menu">
            <li><a href="@(Url.Action("","",new{ Area = ""}))"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
        </ul>
    </li>

    <li class="treeview">
            <a href="#">
                <i class="fa fa-share"></i> <span>Multilevel</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                <li>
                    <a href="#">
                        <i class="fa fa-circle-o"></i> Level One
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                        <li>
                            <a href="#">
                                <i class="fa fa-circle-o"></i> Level Two
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
            </ul>
        </li>
*@